.detail-wrap{
    display: grid;
    place-items: center;
    margin-top: 100px;
}

.detail-img{
    width: 100%;
    max-width: 830px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto 18px;
}

.detail-content{
    width: 100%;
    max-width: 830px;
}

.detail-date{
    color: #1B3764;
    font-family: "Cardo", serif;
    font-size: 17px;
    font-weight: 900;
    margin-bottom: 20px;
}

.detail-text{
    color: #969AA0;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    line-height: 20px;
}

.detail-title{
    color: #1B3764;
    font-family: "Cardo", serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 27px;
}

.datail-text2{
    color: #969AA0;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    line-height: 20px;
}

.detail-list{
    color: #1B3764;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-decoration:  gold;
    list-style-type: disc;
    padding-left: 40px;
    align-items: center;
}

.detail-list li::marker{
    color: #FFCA42;
    font-size: 23px;
}

.quote-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B3764;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.quote-box p{
    color: white;
    font-size: 12px;
}

.detail-title2{
    color: #1B3764;
    font-family: "Cardo", serif;
    font-size: 18px;
}

.detail-last-text{
    font-size: 12px;
    color: #969AA0;
    line-height: 20px;
    font-family: "Inter", sans-serif;
}

.detail-ol{
    font-size: 13px;
    font-family: "Inter", sans-serif;
    color: #1B3764;
    line-height: 25px;
    margin-top: 10px;
    margin-left: 42px;
    margin-bottom: 90px;
}

.detail-banner-section{
    width: 100%;
    border: none;
    background-color: #1B3764;
    padding-bottom: 65px;
    padding-top: 50px;
  }

  .detail-banner-section .container{
    text-align: center;
    width: 100%;
    max-width: 430px;
  }

  .detail-banner-section .container h2{
    color: #FFFFFF;
    font-family: "Cardo", serif;
    padding-bottom: 25px;
    font-size: 28px;
  }

  @media screen and (max-width: 600px) {
    .detail-img{
        width: 100%;
        max-width: 830px;
        height: 300px;
        object-fit: cover;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        display: block;
        margin: 0 auto 18px;
    }
  }

  @media screen and (max-width: 830px) {
    .detail-content{
        padding-left: 15px;
        padding-right: 15px;
    }

    .quote-box{
        margin-left: -15px;
        margin-right: -15px;
    }
  }

  @media screen and (max-width: 447px) {
    .detail-banner-section .container h2{
        color: #FFFFFF;
        font-family: "Cardo", serif;
        padding-bottom: 25px;
        font-size: 23px;
      }
  }
  