.contact-wrapper{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
}

.contact-text .contact-title{
    font-family: "Cardo", serif;
    color: #1B3764;
    margin-bottom: 28px;
}
.contact-text .contact-p{
    width: 100%;
    max-width: 320px;
    color: #969AA0;
    font-family: "Inter", sans-serif;
    font-size: 11px;
    line-height: 20px;
}

.contact-banner-section{
    width: 100%;
    border: none;
    background-color: #1B3764;
    padding-bottom: 65px;
    padding-top: 50px;
}

.contact-banner-section .container{
    text-align: center;
    width: 100%;
    max-width: 430px;
}

.contact-banner-section .container h2{
    color: #FFFFFF;
    font-family: "Cardo", serif;
    padding-bottom: 25px;
}
  .contact-banner-section .container p{
    color: #B4C7E7;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    line-height: 22px;
}

.contact-icons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 28px;
}

.contact-icons .contact-icon{
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-icon .icon img{
    width: auto;
    height: 35px;
}

.icon-text h4{
    color: #1B3764;
    font-family: "Cardo", serif;
    font-size: 15px;
    padding-bottom: 3px;
}

.icon-text p{
    color: #969AA0;
    font-family: "Inter", sans-serif;
    font-size: 11px;
}

.contact-form{
    display: flex;
    flex-direction: column;
}

.contact-form .form-other input, .contact-form .form-other textarea{
    width: 100%;
}
.contact-form .form-name input{
    width: 100%;
    border: 1px solid #DCE1E9;
    padding: 8px 12px;
    font-size: 12px;
    padding-left: 15px;
    margin-bottom: 3px;
}

.contact-form .form-other input{
    margin-bottom: 5px;
    border: 1px solid #DCE1E9;
    padding: 8px 12px;
    font-size: 12px;
    padding-left: 15px;
    margin-bottom: 9px;
}

.contact-form .form-other input:focus, .contact-form .form-name input:focus{
    outline: none;
}

.contact-form .form-other textarea{
    height: 110px;
    border: 1px solid #DCE1E9;
    padding: 12px 12px;
    font-size: 12px;
    padding-left: 15px;
    resize: none;
    margin-bottom: 6px;
}

.contact-form .form-other textarea:focus{
    outline: none;
}

.contact-form{
    width: 320px;
    gap: 5px;
}

.contact-form .form-name{
    display: flex;
    align-items: center;
    gap: 4px;
}

.contact-check{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.contact-check p{
    font-size: 10px;
    color: #969AA0;
}

.contact-send-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.contact-send-btn button{
    width: 100%;
    padding: 9px;
    border: none;
    background-color: #FFCA42;
    font-family: "Cardo", sans-serif;
    color: #1B3764;
    font-weight: 600;
    font-size: 11px;
    cursor: pointer;
}

.questions-section{
    margin-top: 80px;
}

.questions-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    margin-bottom: 80px;
}

.questions-title{
    text-align: center;
    color: #1B3764;
    font-family: "Cardo", serif;
    margin-bottom: 20px;
}

.questions-wrap .left-wrap h4, .right-wrap h4{
    color: #1B3764;
    font-family: "Cardo", serif;
}

.left-wrap .question-text p{
    width: 100%;
    max-width: 350px;
    color: #969AA0;
    font-size: 12px;
}

.left-wrap .question-text h4{
    font-size: 14px;
}

.left-wrap h4{
    padding: 13px 0px;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.left-wrap h4:last-child{
    border-bottom: none;
}

.left-wrap .question-text p:last-child{
    padding-top: 6px;
}
.left-wrap .question-text p{
    line-height: 20px;
}

.right-wrap h4{
    color: #1B3764;
    font-family: "Cardo", serif;
    font-size: 14px;
}

.left-wrap h4{
    font-size: 14px;
}

.right-wrap h4{
    padding: 13px 0px;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.right-wrap h4:last-child{
    border-bottom: none;
}

.question-text h4{
    border-bottom: none;
}

 
@media screen and (max-width: 760px) {
    .contact-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-title, .contact-p{
        text-align: center;
    }

    .contact-icons{
        margin-left: 30px;
    }

    .contact-form .form-other input, .contact-form .form-other textarea{
        width: 100%;
    }
    .contact-form .form-name input{
        width: 100%;
        border: 1px solid #DCE1E9;
        padding: 8px 12px;
        font-size: 12px;
        padding-left: 15px;
        margin-bottom: 3px;
    }
    
    .contact-form .form-other input{
        margin-bottom: 5px;
        border: 1px solid #DCE1E9;
        padding: 8px 12px;
        font-size: 12px;
        padding-left: 15px;
        margin-bottom: 9px;
    }
}

@media screen and (max-width: 345px) {
.contact-form .form-name input,
.contact-form .form-other input,
.contact-form .form-other textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.contact-form {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}
}

@media screen and (max-width: 660px) {
    .questions-wrap{
        display: flex;
        flex-direction: column;
    }
}
