.free-chapter-title{
    text-align: center;
    font-family: "Cardo", serif;
    font-size: 25px;
    color: #1B3764;
}

.free-chapter-wrap p{
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: #1B3764;
    font-family: "Inter", sans-serif;
    font-size: 12px;
}

.free-chapter-wrap{
    display: grid;
    place-items: center;
    margin-top: 18px;

}

.free-chapter-section{
    width: 100%;
    max-width: 800px;
    margin-top: 80px;
    background-color: #FFCA42;
    margin-bottom: 90px;
    padding-bottom: 60px;
    padding-top: 60px;
    margin-left: 25px;
    margin-right: 25px;
}

.free-chapter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.chapter-input input{
    border: none;
    width: 320px;
    height: 35px;
    padding-left: 15px;
}

.chapter-input input:focus{
    outline: none;
}

.chapter-input input::placeholder{
    color: #969AA0;
    font-size: 11px;
}

.chapter-input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 6px;
}

.chapter-input button{
    border: none;
    background-color: #1B3764;
    padding: 9px 60px;
    font-family: "Cardo", serif;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

@media screen and (max-width: 385px) {
    .chapter-input button{
        padding: 9px 40px;
    }

    
}