.cart-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 22, 125, 0.651);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .cart-modal {
    background: white;
    width: 420px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.3s ease;
    overflow: hidden;
  }
  
  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffca42;
    color: #1b3764;
    font-weight: bold;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-header h3 {
    font-size: 20px;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    position: relative;
    top: 2px;
    left: 2px;
    color: #1b3764;
  }
  
  .cart-list {
    list-style: none;
    margin: 0;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: none;
  }

  .cart-list::-webkit-scrollbar{
    display: none;
  }
  
  .cart-item {
    gap: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
  }

  .item-info-btn button{
    margin-top: 15px;
  }

  .item-info-btn h4{
    padding-bottom: 8px;
    color: #1B3764;
    font-family: "Cardo", serif;
    font-size: 15px;
  }

  .item-info-btn p{
    padding-bottom: 4px;
    font-size: 12px;
    color: #969AA0;
    font-family: "Inter", sans-serif;
  }
  
  .item-input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
  }

  .item-input input{
    width: 75px;
    height: 40px;
    background-color: #F9F9F9;
    border: 1px solid #E8E8E8;
    color: #7e8184;
    padding-left: 15px;
  }

  .item-input input:focus{
    outline: none;
  }
  
  .cart-item img {
    width: 60px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .remove-button {
    cursor: pointer;
    transition: 0.2s;
    border: none;
    background: none;
    font-family: "Cardo", serif;
    color: #1B3764;
    font-size: 16px;
  }
  
  .cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 28px 20px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  
  .checkout-btn {
    margin: 0 20px 20px;
    width: calc(100% - 40px);
    padding: 12px 0;
    border: none;
    background: #FFCA42;
    color: #1B3764;
    cursor: pointer;
    font-family: "Cardo", serif;
    font-weight: 600;
    font-size: 12px;
    transition: all 0.2s ease;
  }
  
  .checkout-btn:hover {
    background: #e4ae28;
  }
  
  .empty-cart {
    text-align: center;
    color: gray;
    margin: 40px 0;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .cart-total h4{
    font-family: "Cardo", serif;
    color: #1B3764;
    font-weight: 500;
  }
  .cart-total span{
    font-family: "Inter", sans-serif;
    color: #1B3764;
    font-size: 12px;
    font-weight: 700;
  }

  @media screen and (max-width: 336px) {
    .item-input input{
      width: 50px;
      height: 40px;
      background-color: #F9F9F9;
      border: 1px solid #E8E8E8;
      color: #7e8184;
      padding-left: 15px;
    }

    .cart-item{
      padding-right: 40px;
    }
  }
